{% extends "main_template.html" %}
{% block content %}
  <header>
    <img src="" style="float: right;height: 46px;padding: 21px 21px 0 0;">
    <ul id="header-nav">
      <li>
        <a href="/index" id="head-main">
          <h1>Simple Flask App</h1>
          <p>for unlimited fun</p>
        </a>
      </li>
      <li>
        <ul id="nav">
          <li><a href="{{ url_for('index') }}">Index</a>
          <li><a href="{{ url_for('about') }}">About Us</a></li>
        </ul>
      </li>
      <li id="more-wrapper">
        <b><a href="#">&#xF0C9;</a></b>
        <ul id="more-nav">
          <li>
            <ul class="subfilter"></ul>
          </li>
        </ul>
      </li>
    </ul>
  </header>
  <div id="flash-msg">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash{{ ' '+category }}"><a class="flash-message-closer" href="#" onclick="$(this).hide(400).parents('.flash').slideUp(400,function(){$(this).remove();});">&#xF05C;</a>{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <div id="content">
    <div id="form-outer-wrapper">
      <div id="form-inner-wrapper">
        <div id="breadcrumbs" class="{{ headerized_class or "headerized" }}">
          {% block breadcrumbs %}
            <span onclick="window.location.href='/index'">Index</span>
          {% endblock %}
        </div>
        {% block body %}
            <div id="hello-message">Hi there!</div>
        {% endblock %}
      </div>
    </div>
  </div>
  {% block footer_extra %}
  <script>

    var interval = Math.floor(1000 / 60 * 10);
    var resizeTimer;
    var wrapper = $('#form-inner-wrapper');
    function wrapper_resize() {
      wrapper.css('width', Math.max.apply(null, [270,parseInt($(window).width()/2)]));
    }

    $(document).ready(function(){
      window.addEventListener('resize', function (event) {
        if (resizeTimer !== false) {
          clearTimeout(resizeTimer);
        }
        resizeTimer = setTimeout(function () {
          wrapper_resize();
        }, interval);
      });

      wrapper_resize()

    });

  </script>
  {% endblock %}
{% endblock %}
